---
import Mainlayout from "../layouts/mainlayout.astro"
const title = "Go Bananas!";
const description = "YUM!";
---
<Mainlayout description={description} title={title}>	
<h3> Support local business in NZ and "<a href="https://yourpilates.studio">pilates studio and classes in Auckland</a>"! </h3>
    
